<fieldset>
  <h2><%= _('Ansible role parameters') %></h2>
  <div id='host_ansible_parameters'>
  </div>
  <%= mount_react_component('AnsibleParameters', '#host_ansible_parameters')  %>
</fieldset>
<br/>

